<div class="container-float">
    <nav class="navbar navbar-dark bg-dark">
        <a id="brand" class="navbar-brand" href="#"><h1>OpinNEWS <i class="fab fa-connectdevelop"></i></h1></a>
    </nav>
    <div class="col-12 row mt-5">
        <div class="col-md-3">
                <div id="form1" class="card col-12">
                    
                    <h5><i class="far fa-address-card"></i> Post A New Article</h5>
                    <div action="/add" method="POST" class="form-group">
                        <label for="usr" style="color:#1DE9B6">Article Author:</label>
                        <input type="text" class="form-control" id="article-author">
                        <label for="comment" style="color:#1DE9B6" class="mt-3">Article Body:</label>
                        <textarea class="form-control" rows="5" id="article-body"></textarea>
                        <button id="add" class="btn btn-success float-right mt-3">Submit Article <i class="fas fa-certificate"></i></button>
                    </div>
                </div>
                <div style="margin-top:20px;">
                <h5 style="text-align:center;">Coming soon to all platforms...</h5>
                <p>
                <h2 style="text-align:center;">
                    <i style="text-align:center; color:#64DD17" class="fab fa-android">
                    </i> <i style="color:red;" class="fab fa-apple"></i>
                    <i style="color:orange;" class="fab fa-buysellads"></i>
                    <i style="color:#4FC3F7" class="fab fa-cc-paypal"></i>
                    <i style="color:blue;" class="fab fa-facebook-square"></i>
                </h2>
                
                </p>

                </div>

                
        </div> 
        <div class="col-md-7">
           <!-- headline container -->
        <h4 style="text-align:center">Post and Rate articles in our OpinNews community to help expose fakeNews in a fun way. <i class="far fa-comment"></i></h4>
                <div class="col-12 mb-0  ml-0">
                    <div class="list-group">
                        {{# each posts }}
                            {{> posts/post-block }}
                        {{/each}}
                    </div>
                </div> 
                <div class="card col-12" style="margin-top:10px;">
                        <div class="card-body">
                                <p class="card-text" style="text-align: center">Let's have fun blasting fakeNews.</p>
                            </div>
                    <img id="top-news" style="height:200px;" class="card-img-top" src="./assets/img/fakenews.jpg" alt="Card image cap">
                </div><!-- " news" list items -->
            <!-- list item row -->
        </div> <!--content container -->
        <div class="col-md-2">
                
                    <img class="img" src="./assets/img/ad2.jpg" alt="">
            </div>
        </div>
    </div>
</div> <!-- main container -->

<script>
    $(document).ready(function() {


        var sendData = function (event) {
            const body = $("#article-body").val();
            console.log(body);
            const user = $("#article-author").val();
            console.log(user);
            event.preventDefault(); // stop it
            $.ajax({
                url: '/api/posts',
                method: 'POST',
                data: {
                    user: user,
                    body: body,

                }
            })
                    .then(function () {
                        $("#article-body").val('');
                        $("#article-author").val('');
                        window.location.reload("/");
                    })
                    .catch(function () {
                        alert('Sorry it did not work');
                    }); //
        };


        var updateTrueRank = function (event) {
            var id = $(this).attr("data-postid");
            console.log(id);
            console.log("wtf");
            event.preventDefault();
            $.ajax({
                url: 'api/posts/' + id + '/true',
                method: 'PUT',
                data: {
                    id: id
                }

            }).then(function(data) {
                window.location.reload("/");
            });
        };

        var updateFakeRank = function (event) {
            var id = $(this).attr("data-postid");
            console.log(id);
            console.log("wtf");
            event.preventDefault();
            $.ajax({
                url: 'api/posts/' + id + '/fake',
                method: 'PUT',

            }).then(function(data) {
                window.location.reload("/");
            })
        };

        var updateQuestionableRank = function (event) {
            var id = $(this).attr("data-postid");
            console.log(id);
            console.log("wtf");
            event.preventDefault();
            $.ajax({
                url: 'api/posts/' + id + '/questionable',
                method: 'PUT',
            }).then(function(data) {
                window.location.reload("/");
            });
        };

        $(".legit-news-button").on('click', updateTrueRank);
        $(".fake-news-button").on('click', updateFakeRank);
        $(".questionable-news-button").on('click', updateQuestionableRank);
        $('#add').on('click', sendData);
    });


</script>
