<div class="container-float">
    <nav class="navbar navbar-dark bg-dark">
        <a id="brand" class="navbar-brand" href="#"> <img id="brand-image" src="./assets/img/opinion-time.png" height="90" width="90"></a>
        <button id="post-new-article" class="btn">POST NEW ARTICLE</button>
    </nav>
    <div class="col-12 row mt-5 ml-3">
        <div class="card col-md-3">
            <img id="user-img" class="card-img-top mt-3" src="./assets/img/person.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Persons Name</h5>
                <p class="card-text">Quick Bio about the person and yadi yadi yaa</p>
            </div>
            <div class="text-center">
            <h5 class="align-center">RECENTLY PUBLISHED ARTICLES</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">recent article</li>
                <li class="list-group-item">recent article</li>
                <li class="list-group-item">recent article</li>
            </ul>
            </div>
            <hr>
            <div class="card-body ">
                <div class="text-center">
                <a href="#" class="card-link">Profile</a>
                <a href="#" class="card-link">Your Articles</a>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row  ml-3">
                <div class="card col-12">
                    <img id="top-news" class="card-img-top mt-3" src="./assets/img/news-placeholder.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div> <!-- headline container -->
            <div class="row">
                <div class="col-12 mt-3  ml-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <img src="./assets/img/person.jpg" height="80" width="80">
                                <div class=" col-8">
                                   <h4 class="text-center"> Title headering thingy</h4>
                                   <p>
                                       <!-- start slipsum code -->

                                       Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to
                                       my shirt with my name printed on it? Do you see a little Asian child with a blank
                                       expression on his face sitting outside on a mechanical helicopter that shakes when
                                       you put quarters in it? No? Well, that's what you see at a toy store. And you must
                                       think you're in a toy store, because you're here shopping for an infant named Jeb.

                                       <!-- end slipsum code -->
                                   </p>
                                </div>
                                <small>Time Posted</small>
                            </div>
                            <div class="text-center">
                                <button id="true-news-button" type="button" class="btn btn-success">True</button>
                                <button id="questionable-news-button" type="button" class="btn btn-warning">?</button>
                                <button id="fake-news-button" type="button" class="btn btn-danger">Fake</button>
                            </div>
                        </a>
                    </div>
                </div> <!-- " news" list items -->
            </div> <!-- list item row -->
        </div> <!--content container -->
    </div>
</div> <!-- main container -->
