<div class="container-float">
    <nav class="navbar navbar-dark bg-dark">
        <a id=brand class="navbar-brand" href="#">
            <h1 id="mainHeader" style="font-family: 'Chango'; color: #FF3D00">OpinNEWS</h1>
        </a>
    </nav>
    <div id="superCtn" class="col-12 row mt-5">
        <div class="card col-md-3">
            <img id="user-img" class="card-img-top" src="./assets/img/person.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row  ml-3">
                <div class="card col-12">
                    
                    <div id="card1" class="card-body">
                        <p class="card-text">Rate any contribution in three ways "legit, seemslegit and fakeNews" and make your OPINION matter!</p>
                    </div>
                </div>
            </div>
            <!-- headline container -->
            <div class="row">
                <div class="col-12 mt-3  ml-3">
                    <div class="list-group">
                        <div class="post-form">
                            <form action="/add" method="POST">
                                <input type="text" name="id">
                                <button type="submit" id='add'>submit</button>
                            </form>
                        </div>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
                <!-- " news" list items -->
            </div>
            <!-- list item row -->
        </div>
        <!--content container -->
    </div>
</div>
<!-- main container -->


<script>


    /*
    var getRequest = function(url, cb) {
        // TODO
        $.ajax({
            url: '/add',
            method: 'GET'
        })
        .then(function() {
            $('input[name="id"]').val('');
            cb(null, data);
        })
        .catch(function(err) {
            cb(err, data);
        }); //
    };

    getRequest('/add', function(err, data) {
        // TODO
        // data 
    });

     getRequest('/add', null,  function(err, data) {
        // TODO
        // data 
    });

    */
    var sendData = function (event) {
        const value = $('input[name="id"]').val();
        event.preventDefault(); // stop it
        $.ajax({
            url: '/add',
            method: 'POST',
            data: {
                //We need to input userName from login data.
                userName: "Eric",
                newPost: value, 
            
            }
        })
        .then(function() {
            $('input[name="id"]').val('');
        })
        .catch(function() {
            alert('Sorry it did not work');
        }); //


        
    };

    $('#add').on('click', sendData);



    // fetch() //

    // axios 

    // XMLHttpRequest

    // $.post();


</script>