.navbar-default {
    background-color: black;
    border-bottom-color: #6002EE;
}

.container-float {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Raleway', sans-serif;

}

h1 {
    color: white;
    text-shadow: 2px 2px 5px #6002EE;
    
}

#list1 {
    padding: 10px;
    box-shadow: 3px 4px #6002EE;
}

#brand {
    font-family:'Chango', cursive;
}

.jumbotron {
    height: 350px;
}

#top-news {
    height: 250px;
}

.footer {
    height: 90px;
}

#user-img {
    height: 500px;
}

