<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ title }}</h5>
        <small class="text-muted">{{ createdAt }}</small>
    </div>
    <p class="mb-1">{{ body }}</p>
    <small class="text-muted">Donec id elit non mi porta.</small>

    <div class="text-center">
        <button id="true-news-button" type="button" class="btn btn-success">True</button>
        <button id="questionable-news-button" type="button" class="btn btn-warning">?</button>
        <button id="fake-news-button" type="button" class="btn btn-danger">Fake</button>
    </div>
</a>


